header{
	display: flex;
	align-items: center;
	font-family: Verdana;
	padding-bottom: 10px; 
	border-bottom: 1px solid black;
	
}
nav li{
	display: inline-block;
	padding: 0px 10px;
	font-size: 14px;
	font-weight: bold;
}
a{
	color: black;
}
nav{
	position: relative;
	right: -15px;
}
h1{
	font-size: 14px;
	color: mediumaquamarine;
	padding-left: 10px;
}
.logo{
	padding-left: 30px;
}
.letterhead{
	display: flex;
	border: 1px solid black;
	width: 1250px;
	align-items: center;
}
.container{
	border: 1px solid black;
	margin: 0 120px;
}

.row {
	display: inline-flex;
  	margin-top: 20px;
}
.large{
  border: 1px solid black;
  width: 630px;
  display: flex;
}
.medium{
  border: 1px solid black;
  width: 300px;
  margin: 0 0 0 55px;
  display: flex;
}
.small{
  border: 1px solid black;
  width: 240px;
  margin: 0 0 0 55px ;
  display: flex;
}
.box{
	border: 1px solid black;
}
.box1{
	border-style: solid;
	border-width: 2px 2px 1px;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	display: flex;
	height: 300px;
}

.box3{
	border-style: solid;
	border-width: 3px 3px 1px;
}
.box4{
	border-style: solid;
	border-width: 1px 3px 1px;
	display: flex;
	height: 300px;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
	margin-top: 15px;
}
.box6{
	border-style: solid;
	border-width: 1px 3px 3px;
	height: 300px;
	display: flex;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
	margin-top: 15px;
}
.box7{
	border-style: solid;
	border-width: 3px 3px 1px;
}
.box8{
	border-style: solid;
	border-width: 1px 1px 2px;
}
.box9{
	border-style: solid;
	border-width: 2px 2px 1px;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
	height: 300px;
	display: flex;
}
.column{
	flex-direction: column;
}
.headline{
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;
	color: white;
	margin-top: 0px;
}
.headline1{
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	margin-top: 0px;
	text-align: center;
}
	


