header{
	display: flex;
	align-items: center;
	font-family: Verdana;
	padding-bottom: 10px; 
	border-bottom: 1px solid black;
	
}
nav li{
	display: inline-block;
	padding: 0px 10px;
	font-size: 14px;
	font-weight: bold;
}
a{
	color: black;
}
nav{
	position: relative;
	right: -15px;
}
h1{
	font-size: 14px;
	color: mediumaquamarine;
	padding-left: 10px;
}
h2{
	font-family: Georgia;
	font-size: 40px;
	color: white;
	margin-top: 0px;
}
h3{
	font-family: Georgia;
	font-size: 23px;
	font-weight: bold;
}
h4{
	font-family: Georgia;
	font-size: 30px;
	color: white;
	margin-top: 0px;
	text-align: center;

}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.bites{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.logo{
	padding-left: 30px;
}
.letterhead{
	display: flex;
	width: 1250px;
	align-items: center;
}
.main{
	margin:auto;
	margin-top: 30px;
	margin-bottom: 80px;
	width: 85%;
	display: flex;	
}
.container{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.large{
  width: 630px;
  
}
.medium{
  width: 300px;
  margin: 0 0px 0 80px;
  
}
.small{
  margin: 0 0 0 80px ;
  width: 240px;
}
.box{
	height: 300px;
}

.box1{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}
.box1a{
	height: 300px;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
.box2{
	height: 624px;
	display: flex;
	flex-wrap: wrap;

}
.box3{
  min-height: 300px;
  width: 299px;
  margin: 1px;
  padding: 3px;
}
.box3a{
  min-height: 300px;
  width: 299px;
  display: flex;
  align-items: center;
  padding: 3px;
 }
.bgimg1{
background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
background-repeat: no-repeat;
}
.bgimg2{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
	background-repeat: no-repeat;
}
.bgimg3{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
	background-repeat: no-repeat;
}
#flexcenter{
	align-content: center;
}
.box4{
  background-color: WhiteSmoke;
  align-items: column;
}
.box5 p{
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 5px 23px;
  margin-bottom: 0px;


}

footer {
  background-color: mediumaquamarine;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
   
}
.mainbox{
  height: 70px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.nested1{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.nested2{
	display: flex;
	justify-content: center;
	align-items: center;
}
#NY{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: auto;
}
#footertext{
  margin: 7px auto;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
}
#footertext li{
 margin: auto;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
}

